*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.appbar{
    z-index: 999;
    position: fixed;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    &__text{
        background-color: $secondary-color;
        text-align: center;
        line-height: 64px;
        font-weight: 900;
        font-size: $font-size18;
        @include media('<=screen475'){
            font-size: 12px;
            font-weight: $font-weight700;
        }
    }
}