.signup{
    &__main-container{
        max-width: 1200px;
        margin: auto;
    }
    &__small-text{
        margin-top: 10px;
        margin-bottom: 50px;
        text-align: center;
    }
    &__input{
        border: 4px solid $secondary-color;
        width: 48%;
        height: 60px;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 20px;
        font-weight: $font-weight900;
        box-shadow: 5px 5px $primary-color;
        color: #C7C7C7;
        font-weight: $font-weight400;
        &--one{
            border: 0px;
            width: 48%;
            height: 60px;
            margin-left: 5px;
            margin-right: 5px;
            color: transparent;
        }
    }
    &__form{
        margin-top: 30px;
        margin: auto;
        text-align: center;
    }
    &__container{
        max-width: 1440px;
        margin: auto;
        margin-top: 50px;
        text-align: center;
    }
    &__span{
        text-decoration: underline;
        color: $primary-color;
    }
}
