$primary-color: #FFC700;
$secondary-color:#000000;
$bgc-color:  #E5E5E5;

$font-weight900: 900;
$font-weight800: 800;
$font-weight700: 700;
$font-weight400: 400;
$font-size50: 50px;
$font-size18: 18px;
$font-size16: 16px;
$font-size14: 14px;
$font-size23: 23px;
$font-size27: 27px;
$font-size30: 30px;
$font-size120: 160px;

$font-main: 'Cormorant Garamond', serif;

$max-width1440: 1440px; 